* {
    box-sizing: border-box;
}

body {
    padding: 10px;
}
.container {
    border-style: solid;
    border-width: 1px;
    border-color:black;
}
.row {
    display: flex;
}
.row_square {
    border-style: solid;
    border-width: 1px;
    border-color:gray;
}